Source: ros-lyrical-roboplan-ros-examples
Section: misc
Priority: optional
Maintainer: "Sebastian Castro" <sebas.a.castro@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake-python, ros-lyrical-ros-workspace
Homepage: https://roboplan-ros.readthedocs.io
Standards-Version: 3.9.2

Package: ros-lyrical-roboplan-ros-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-control-msgs, ros-lyrical-rclpy, ros-lyrical-roboplan, ros-lyrical-sensor-msgs, ros-lyrical-std-msgs, ros-lyrical-visualization-msgs, ros-lyrical-ros-workspace
Description: Examples of using RoboPlan in the ROS ecosystem.
